@charset "UTF-8";
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat');
}

body,
html {
    margin: 0;
}

h1,
p,
a {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #313131;
}

button {
    cursor: pointer;
}

.topbar {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.topbar__menu-mobile {
    display: none;
}

.topbar::before {
    z-index: -1;
    content: '';
    position: absolute;
    border-bottom-right-radius: 50px 20px;
    width: 600px;
    height: 50px;
    background-color: rgb(130, 81, 179);
    animation-name: top-before-animation-on-load;
    animation-duration: 2s;
}

@keyframes top-before-animation-on-load {
    0% {
        width: 0px;
    }
    100% {
        width: 600px;
    }
}

.topbar__menu {
    width: 69.5%;
    padding: 0px 50px 0px 50px;
}

.topbar__menu__right-button img,
.topbar__menu__left-buttons button img {
    width: 15px;
    height: 20px;
    margin-right: 6px;
}

.topbar__menu__left-buttons {
    display: flex;
}

.topbar__menu__left-buttons button,
.topbar__menu__right-button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    width: auto;
    height: 32px;
    padding: 18px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: #cf9528;
    animation-name: animation-on-load;
    animation-duration: 3s;
}

.topbar__menu-mobile__hidden-menu {
    border-radius: 8px;
    margin-top: -7px;
    background-color: rgb(130, 81, 179);
    position: absolute;
    overflow: hidden;
    width: 210px;
    height: 0px;
    transition: height 0.5s;
}

.menu-mobile-opened {
    display: block;
    height: 115px;
}

.topbar__menu-mobile svg {
    cursor: pointer;
    margin-top: 13px;
    margin-left: 30px;
    fill: white;
}

.topbar__menu-mobile__hidden-menu a {
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.topbar__menu-mobile__hidden-menu a:hover {
    background-color: rgb(102, 64, 141);
}

.topbar__menu-mobile a {
    text-transform: uppercase;
}

.topbar__menu__right-button {
    margin-right: 48px;
    background-color: rgb(216, 155, 41);
}

.topbar__menu__right-button:hover,
.topbar__menu__left-buttons button:hover {
    box-shadow: 0 0 1em rgb(115, 115, 115);
}

.topbar__menu__right-button:focus,
.topbar__menu__left-buttons button:focus {
    outline: none;
}

.topbar__menu__right-button:active,
.topbar__menu__left-buttons button:active {
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    /* IE 9 */
    -webkit-transform: translateY(2%);
    /* Chrome, Safari, Opera */
    transform: translateY(2%);
}

.first-section {
    width: 100%;
    height: 420px;
    padding-top: 50px;
    box-sizing: border-box;
    background-image: url('../images/header.png');
    background-size: cover;
    background-position: right;
    animation-name: animation-on-load;
    animation-duration: 1s;
}

@keyframes animation-on-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.first-section__content {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 88%, rgb(189 227 235) 100%);
    padding: 110px 50px 0px 50px;
    box-sizing: border-box;
    width: 43vw;
    height: 100%;
}

.first-section__content h1 {
    font-size: 3rem;
    color: rgb(242, 174, 49);
}

.first-section__content p {
    width: 37vw;
}

.first-section__content a {
    color: rgb(130, 81, 179);
    width: 37vw;
}

.first-section__content a:hover {
    color: rgb(242, 174, 49);
}

.second-section {
    width: 100%;
    height: auto;
    padding: 41px;
    box-sizing: border-box;
    background-color: rgb(232, 232, 232);
    animation-name: animation-on-load;
    animation-duration: 3s;
}

.second-section__accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.second-section__accordion hr {
    border: 0.5px solid rgb(218, 216, 216);
}

.second-section__accordion p {
    color: rgb(130, 81, 179);
    float: left;
    margin-right: 20px;
}

.second-section__accordion img {
    width: 20px;
    float: right;
    margin-left: 20px;
}

.second-section__accordion__panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.opened-panel-arrow {
    animation-duration: 0.2s;
    animation-name: rotate-accordion-arrow;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

@keyframes rotate-accordion-arrow {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

footer {
    width: 100%;
    height: 40px;
    background-color: blueviolet;
}


/* MOBILE */

@media only screen and (max-width: 889px) {
    .topbar__menu {
        display: none;
    }
    .topbar__menu-mobile {
        display: block;
        position: relative;
    }
    .topbar__menu__right-button {
        margin-right: 30px;
    }
    .topbar {
        display: flex;
        justify-content: space-between;
    }
    .topbar::before {
        width: 61px;
        height: 41px;
        top: 6px;
        left: 19px;
        border-bottom-right-radius: none;
        border-radius: 8px;
        animation-name: animation-on-load;
        animation-duration: 3s;
    }
    .first-section__content {
        background: none;
        text-align: center;
        width: 55vw;
    }
    .first-section__content p {
        width: auto;
        color: white;
        text-shadow: 1px 1px #949494
    }
}


/* FINAL ADJUST ON MOBILE */

@media only screen and (max-width: 787px) {
    .first-section {
        background-position: 665px;
    }
    .first-section__content {
        width: 100%;
        padding: 88px 50px 0px 50px;
    }
    .first-section__content h1 {
        text-shadow: 1px 1px #ff6a00;
    }
    .first-section__content p {
        text-shadow: 1px 1px #949494
    }
    .second-section__accordion p {
        width: 50%;
    }
    .second-section__accordion hr {
        border: none;
    }
}